{% extends 'base.html' %}

{% block title %}Инструкция{% endblock %}

{% block content %}
<p> Это краткая инструкция по применению сайта. Сайт предназначен для использования в учебных целях для учеников 8-11 классов.
Его основные функции: </p>
<p>1.Расчёт молярной массы хим.соединений.</p>
<p>2.Изучение таблицы Менделеева</p>
<p>3.Уравнивание химических задач</p>
<p>4.Показ электронных конфигураций каждого в-ва</p>
<p>5.Дописывание хим.уравнений(в разработке, шанс на появление 40%)</p>
<br></br>
{% endblock %}