{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="row">
    <h1 class="my-4" align="center">Немного обо мне</h1>
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 50%;">
            <p>Меня зовут Гарипов Фанис. Я ученик 10А класса, и это мой проект "ChemistryPRO". Мне 16 лет. Я люблю программировать и поэтому решил создать проект на стыке двух интереснейших предметов: Химии и Информатики. Внизу этой страницы Вы видите ссылки на мои контакты, а именно ВК и Телеграмм-аккаунт. По всем вопросам туда :)</p>
            <p>Спасибо, что обратили внимание на мой сайт!!!</p>
            <p>Мои другие работы:</p>
            <p><a href="https://github.com/FanisGaripov/PCCONFIGURATOR-DB-"><font color="gray">PCCONFIGURATOR-DB</a></p>
            <p><a href="https://github.com/FanisGaripov/Snake-game"><font color="gray">Игра Змейка на PyGame</a></p>
            <p><a href="https://github.com/FanisGaripov/PCBUILDERSHOP"><font color="gray">PCBUILDERSHOP</a></p>
        </div> <div style="width: 100%;">
        <img src="{{ url_for('static', filename='fanisik.jpg') }}" style="max-width: 100%; height: auto; float: right;" />
    </div>
    </div>
</div>

{% endblock %}