{% extends 'base.html' %}

{% block title %}ChemistryPRO - Уравнивание хим.реакций{% endblock %}

{% block content %}
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
        <form method="post" style="text-align: center; font-size: 1.5em;">
            <H2>Дописывание хим.реакций</H2>
            <p>g — газ (gas)</p>
            <p>s — твердое состояние (solid)</p>
            <p>l — жидкое состояние (liquid)</p>
            <p>aq — водный раствор (aqueous), то есть вещество растворено в воде.</p>
            <input type="text" id="chemical_formula" name="chemical_formula" placeholder="Например: H2SO4 + KCl" style="width: 350px; height: 40px; font-size: 1em;">
            <input type="submit" value="Решить" style="height: 40px; font-size: 1em;">
            {% if reaction == '' %}
            <p>Введите реакцию</p>
            {% elif reaction != '' %}
            <p>{{ react1 }}</p>
            {% endif %}
            <h5>Работает при помощи сайта https://chemequations.com/ru/</h5>
        </form>
    </div>
</body>
{% endblock %}