{% extends 'base.html' %}

{% block title %}Документация ChemistryPro{% endblock %}

{% block content %}
<style>A {
        color: blue; /* Цвет ссылок */
        }
        A:visited {
        color: blue; /* Цвет посещенных ссылок */
        }
        A:active {
        color: blue; /* Цвет активных ссылок */
        }
#sidebar A {
        color: white; /* Цвет ссылок в боковой панели */
    }
</style>
<div class="documentation">
    <header>
        <h1>Документация проекта ChemistryPro</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="#введение">Введение</a></li>
                <li><a href="#функции">Функции:</a></li>
                <li><a href="#дописывание">Дописывание химических реакций</a></li>
                <li><a href="#уравнивание">Уравнивание химических реакций</a></li>
                <li><a href="#конфигурация">Электронная конфигурация</a></li>
                <li><a href="#масса">Молярная масса</a></li>
                <li><a href="#цепочка">Цепочки превращений</a></li>
                <li><a href="#структура">Структура органических веществ</a></li>
                <li><a href="#таблицы">Таблицы</a></li>
                <li><a href="#мини-игра">Мини-игра</a></li>
                <li><a href="#контакты">Контакты</a></li>
            </ul>
        </nav>
    </header>
</div>

    <main>
        <section id="введение">
            <h2>Введение</h2>
            <p>ChemistryPro — это веб-приложение, разработанное для изучения Химии школьного уровня 8-11 классов. Оно предлагает пользователям различные функции для взаимодействия с данными о химических элементах.</p>
            <p>Немного об архитектуре этого сайта: Сайт основан на языке программирования Python. Python обладает большим количеством библиотек, что является преимуществом этого языка программирования. Flask - это основная библиотека на которой базируется этот сайт. Фреймворк Flask является универсальным решением для многих сайтов, а также он легок в изучении.
            Html-файлы проекта хранятся в папке templates, а изображения в папке static. Структура проекта:</p>
            <pre><code>
ChemistryPro/
├── static/                # Статические файлы, такие как CSS и изображения
│   └── Все фотографии
├── templates/             # Шаблоны HTML
│   ├── about.html                      # Обо мне
│   ├── base.html                       # Базовый шаблон
│   ├── bug.html                        # В случае ошибок
│   ├── complete_reaction.html          # Дописывание реакций
│   ├── documentation.html              # Документация
│   ├── electronic_configuration.html   # Электронная конфигурация
│   ├── get_reaction_chain.html         # Цепочки превращений
│   ├── index.html                      # Уравнивание реакций
│   ├── instruction.html                # Инструкция
│   ├── login.html                      # Логин
│   ├── main.html                       # Главная страница
│   ├── minigame.html                   # МиниИгра
│   ├── molyarnaya_massa.html           # Молярные массы
│   ├── orghim.html                     # Структура орг. в-в
│   ├── profile.html                    # Профили
│   ├── register.html                   # Регистрация
│   ├── tablica.html                    # Таблица Менделеева
│   ├── tablica_kislotnosti.html        # Таблица кислотностей
│   ├── tablica_rastvorimosti.html      # Таблица растворимостей
│   └── winning.html                    # Победа в МиниИгре
├── server.py              # Главный файл приложения
├── mod.py                 # Здесь хранятся все модели для базы данных пользователей
└── requirements.txt       # Список зависимостей(библиотек)
            </code></pre>
            <p>Исходный код программы открытый, программу можно найти по ссылке:</p>
            <a href="https://github.com/FanisGaripov/ChemistyPro">https://github.com/FanisGaripov/ChemistyPro</a>
        </section>

        <section id="функции">
            <h2>Функции</h2>
        </section>
        <section id="дописывание">
            <h3>1. Дописывание химических реакций</h3>
            <p>Это функция позволяет, при наличии известных реагентов реакции, получить продукт реакции. Работает при помощи отправки запроса на сервер chemequations.com . Используется библиотека requests(python).</p>
            <pre><code>def get_chemical_equation_solution(reaction):
    if request.method == 'POST':
        reaction = request.form.get("chemical_formula", False)
    # Кодируем реакцию для URL
        encoded_reaction = quote(reaction)

    # Формируем URL с учетом химической реакции
        url = f"https://chemequations.com/ru/?s={encoded_reaction}"

    # Отправляем GET-запрос
        response = requests.get(url)...</code></pre>
        </section>
        <section id="уравнивание">
            <h3>2. Уравнивание химических реакций</h3>
            <p>Эта функция позволяет уравнять любую химическую реакцию. Используется библиотека chempy(python). Работает при помощи встроенного метода библиотеки chempy, а именно balance_stoichiometry.</p>
            <pre><code>def uravnivanie(formula):
    ...# баланс уравнений
    balanced_reaction = balance_stoichiometry(reactants, products)
    reactants_str = ' + '.join([f"{v}{k}" for k, v in balanced_reaction[0].items()])
    products_str = ' + '.join([f"{v}{k}" for k, v in balanced_reaction[1].items()])
    otvet = f"{reactants_str} = {products_str}"...
</code></pre>
        </section>
        <section id="конфигурация">
            <h3>3. Электронная конфигурация</h3>
            <p>Эта функция позволяет узнать электронную конфигурацию любого вещества без заглядывания в таблицу Менделеева. Не использует других библиотек, кроме flask(python, основная библиотека, на которой держится весь проект). Самая простая функция в реализации.</p>
            <pre><code>def electronic_configuration(element):

    ...for i in range(len(subshells)):
        if atomic_number > 0:
            if atomic_number >= electrons[i]:
                configurations.append(f"{subshells[i]}^{electrons[i]}")
                atomic_number -= electrons[i]
            else:
                configurations.append(f"{subshells[i]}^{atomic_number}")
                break
    return ' '.join(configurations)...
            </code></pre>
        </section>
        <section id="масса">
            <h3>4. Молярная масса веществ</h3>
            <p>Функция позволяет узнать молярную реакцию любого вещества или реакции. Данные о массе элемента берутся из таблицы Менделеева, далее эта масса умножается на коэффициент элемента. Можно получить всю массу целиком, а также массу каждого элемента по отдельности.</p>
            <pre><code>        try:
            dlyproverki, element_details = molecular_mass(chemical_formula)
            resultat = f"Молярная масса {chemical_formula}: {dlyproverki} г/моль"
            for element, mass, count, total_mass in element_details:
                otdelno.append(f"{count} x {element} ({round(mass)} г/моль): {round(total_mass)} г")
            </code></pre>
        </section>
        <section id="цепочка">
            <h3>5. Цепочки превращений</h3>
            <p>Функция позволяет узнать целую цепочку превращений вещества, а именно какие реакции должны произойти, чтобы получить то или иное вещество. Работает при помощи отправки запроса на сервер chemer.ru . Для реализации потребуется библиотека requests(python). Мы отправляем запрос на сервер, а тот должен нам вернуть html всех реакций. Крайне важен ввод веществ в поле. Т.к данные из поля вводятся в url сайта, то важно чтобы эти данные были отформатированы. Главное требование при вводе: все реакции вводить через знак "=". Например: Al=Al2O3=AlCl3=Al(OH)3=Na3AlO3=Al(NO3)3.</p>
            <pre><code>def get_reaction_chain(reaction):
    # цепочка превращений
    if request.method == 'POST':
        reaction = request.form.get("chemical_formula", False)
        url = f"https://chemer.ru/services/reactions/chains/{reaction}"
        headers = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
        }
        session = requests.Session()
        session.headers.update(headers)
        response = session.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            content_sections = soup.find_all('section', class_='content')  # Ищем все секции с классом 'content'...
            </code></pre>
        </section>
            <section id="структура">
            <h3>6. Структура органических реакций</h3>
            <p>Функция позволяет найти органическое вещество, а именно его графическое представление. Например: при вводе 2,2-диметилбутан, должны вывестись картинки в формате .svg. Первой такой картинкой будет само вещество, а вторая картинка побольше - все изомеры вещества(или те, что представляет ресурс, на который мы отправляем запрос). Все это реализовано при помощи библиотеки requests(python), т.е мы также отправляем запрос на сайт и он возвращает нам ответ. Несмотря на такую, казалось бы простую реализацию, код этой часть был самым трудным в написании. Вот его часть:</p>
            <pre><code>
def get_substance_html(substance_name):
    url = "https://chemer.ru/services/organic/structural"
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
    }
    session = requests.Session()
    session.headers.update(headers)
    response = session.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.find('table')
        rows = table.find_all('tr')...

def extract_svg_and_symbols(html_code):
    soup = BeautifulSoup(html_code, 'html.parser')
    svg_elements = soup.find_all('svg')
    symbols = soup.find_all('symbol')

    if not svg_elements:
        return None, None, None

    first_svg_content = str(svg_elements[0])
    if 'width' not in first_svg_content or 'height' not in first_svg_content:
        first_svg_content = first_svg_content.replace()...

@app.route('/orghim', methods=['GET', 'POST'])
def orghim():
    user = flask_login.current_user
    if request.method == 'POST':
        substance_name = request.form['substance_name']
        html_code = get_substance_html(substance_name)

        if html_code:
            first_svg, isomers_svg, symbols_svg = extract_svg_and_symbols(html_code)...
            </code></pre>
        </section>

        <section id="таблицы">
            <h2>Таблицы</h2>
            <h3>1.Таблица Менделеева</h3>
            <p>Страница возвращает таблицу Менделеева. Как она работает? Из интернет-ресурсов была скачана таблица ПСХЭ, которая отображается на странице. Также пролистнув страницу ниже можно увидеть подробности про каждый элемент.</p>

            <h3>2.Таблица растворимости</h3>
            <p>Страница возвращает таблицу растворимостей.</p>

            <h3>3.Таблица кислот и кислотных остатков</h3>
            <p>Страница возвращает кислоты и их остатки, также есть таблица сил кислот: от самой слабой, до самой сильной.</p>
            <p>Код для всех этих страниц схож, покажу только один:</p>
            <pre><code>
@app.route('/tablica', methods=['GET', 'POST'])
def tablica():
    # таблица менделеева
    user = flask_login.current_user
    return render_template('tablica.html', user=user)
            </code></pre>
            <p>Также, конечно, нужно создать html файл со страницей, прежде чем вписывать это себе в код.</p>
        </section>

        <section id="мини-игра">
            <h2>Мини-игра</h2>
            <p>Мини-игра предназначена для тренировки памяти по химическим элементам. Игра начинается с водорода, после чего пользователю показываются случайные элементы.</p>
            <h3>Как играть:</h3>
            <ol>
                <li>Введите название элемента на русском языке.</li>
                <li>Если ответ верный, будет показан следующий элемент.</li>
                <li>Игра продолжается до достижения 10 правильных ответов.</li>
            </ol>
        </section>

        <section id="контакты">
            <h2>Контакты</h2>
            <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами по адресу: <a href="mailto:garipovfanis1@yandex.ru">garipovfanis1@yandex.ru</a>. Дополнительные контакты автора указаны снизу.</p>
        </section>
    </main>
</div>
{% endblock %}