{% extends 'base.html' %}

{% block title %}ChemistryPRO - Электронная конфигурация{% endblock %}

{% block content %}
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
        <form method="post" style="text-align: center; font-size: 1.5em;">
            <H2>Электронная конфигурация</H2>
            <p>Введите любой элемент ПСХЭ</p>
            <input type="text" id="element" name="element" style="width: 350px; height: 40px; font-size: 1em;">
            <input type="submit" value="Узнать" style="height: 40px; font-size: 1em;">
            <p>{{ element }}: {{ configuration }}</p>
        </form>
    </div>
</body>
{% endblock %}