{% extends 'base.html' %}

{% block title %}ChemistryPRO - Цепочки превращений{% endblock %}

{% block content %}
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
        <form method="post" style="text-align: center; font-size: 1.5em;">
            <H2>Цепочки превращений хим.реакций</H2>
            <p>Вводить следует каждое вещество через знак "="</p>
            <input type="text" id="chemical_formula" name="chemical_formula" placeholder="Например: Al=Al2O3=AlCl3=Al(OH)3=Na3AlO3=Al(NO3)3" style="width: 350px; height: 40px; font-size: 1em;">
            <br>
            <input type="submit" value="Решить" style="height: 40px; font-size: 1em;">
            {% if reaction == '' %}
            <p>Введите реакцию (неорганическую)</p>
            {% elif reaction != '' %}
            <p>{{ reaction }}:</p>
            {% for i in react2 %}
            <p>{{ i }}</p>
            {% endfor %}
            {% endif %}
            <h5>Работает при помощи сайта https://chemer.ru/services/reactions/chains</h5>
        </form>
    </div>
</body>
{% endblock %}