{% extends 'base.html' %}

{% block title %}ChemistryPRO - Уравнивание хим.реакций{% endblock %}

{% block content %}
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
        <form method="post" style="text-align: center; font-size: 1.5em;">
            <H2>Уравнивание хим.реакций</H2>
            <p>Введите любую реакцию</p>
            <input type="text" id="chemical_formula" name="chemical_formula" style="width: 350px; height: 40px; font-size: 1em;">
            <input type="submit" value="Решить" style="height: 40px; font-size: 1em;">
            <p>{{ resultat2 }}</p>
        </form>
    </div>
</body>
{% endblock %}