{% extends 'base.html' %}

{% block title %}Инструкция{% endblock %}

{% block content %}
<H4> Это краткая инструкция по применению сайта. Сайт предназначен для использования в учебных целях для учеников 8-11 классов.
Его основные функции: </H4>
<br>
<p>1.Расчёт молярной массы хим.соединений</p>
<p>2.Изучение таблицы Менделеева</p>
<p>3.Уравнивание химических задач</p>
<p>4.Показ электронных конфигураций каждого в-ва</p>
<p>5.Дописывание хим.уравнений (работает при помощи сторонней api)</p>
<p>6.Цепочки превращений неорганических реакций (работает при помощи сторонней api)</p>
<br>
<H4>Сторонние API:</H4>
<br>
<p>https://chemequations.com/ru/</p>
<p>https://chemer.ru/services/reactions/chains/</p>
{% endblock %}