{% extends 'base.html' %}

{% block title %}Инструкция{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Инструкция по применению сайта</h1>
    <p class="lead text-center">Сайт предназначен для использования в учебных целях для учеников 8-11 классов.</p>

    <h4 class="mt-4">Основные функции:</h4>
    <br>
    <p>1. Расчёт молярной массы химических соединений.</p>
    <p>2. Изучение таблицы Менделеева, растворимостей и кислот.</p>
    <p>3. Уравнивание химических задач.</p>
    <p>4. Показ электронных конфигураций каждого вещества.</p>
    <p>5. Дописывание химических уравнений (работает при помощи сторонней API).</p>
    <p>6. Цепочки превращений неорганических реакций (работает при помощи сторонней API).</p>

    <h4 class="mt-5">Сторонние API:</h4>
    <br>
    <p>
        <a href="https://chemequations.com/ru/" target="_blank" class="text-primary">chemequations.com</a>
    </p>
    <p>
        <a href="https://chemer.ru/services/reactions/chains/" target="_blank" class="text-primary">chemer.ru</a>
    </p>
    <h4 class="mt-5">Подробная документация к сайту:</h4>
    <p>
        <a href="/documentation" class="text-primary">Документация</a>
    </p>
</div>

<style>
    body {
        background-color: #ffffff;
        font-family: 'Arial', sans-serif;
    }
    h1 {
        color: #343a40;
        font-weight: bold;
    }
    h4 {
        color: #495057;
        margin-top: 20px;
    }
</style>
{% endblock %}