{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block content %}
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form" action="/login" method="POST">
                    <span class="login100-form-title p-b-51">
                        Вход
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Имя пользователя обязательно">
                        <input class="input100" type="text" id="username" name="username" placeholder="Имя пользователя" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Пароль обязателен">
                        <input class="input100" type="password" id="password" name="password" placeholder="Пароль" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Запомнить меня
                            </label>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Войти
                        </button>
                    </div>

                </form>
                <div class="text-center p-t-20">
                    <span>Если Вы еще не зарегистрированы, </span>
                    <a href="/register" class="txt2">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #ffffff;
        }
        .limiter {
            width: 100%;
            margin: 0 auto;
        }
        .container-login100 {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .wrap-login100 {
            background: white;
            border: 1px solid #ccc; /* Рамка вокруг профиля */
            border-radius: 10px; /* Округление углов рамки */
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
            padding: 40px;
            width: 400px;
        }
        .login100-form-title {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
        .input100 {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            transition: border-color 0.3s;
        }
        .input100:focus {
            border-color: #007bff;
            outline: none;
        }
        .login100-form-btn {
            width: 100%;
            background-color: #007bff;
            border: none;
            color: white;
            padding: 15px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .login100-form-btn:hover {
            background-color: #0056b3;
        }
        .txt2 {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
        .txt2:hover {
            text-decoration: underline;
        }
        A {
        color: gray; /* Цвет ссылок */
        }
        A:visited {
        color: gray; /* Цвет посещенных ссылок */
        }
        A:active {
        color: gray; /* Цвет активных ссылок */
        }
#sidebar A {
        color: white; /* Цвет ссылок в боковой панели */
    }
    </style>
</body>
{% endblock %}