{% extends 'base.html' %}

{% block title %}ChemistryPRO - Структура органических реакций{% endblock %}

{% block content %}
<body style="margin: 0; padding: 0;">
    <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
        <form method="post" style="text-align: center; font-size: 1.5em;">
            <h3>Просмотр структуры вещества</h3>
            <p>Введите название вещества</p>
            <input type="text" name="substance_name" placeholder="Например: Бутан" required>
            <input type="submit" value="Получить SVG" style="height: 40px; font-size: 1em;">

            {% if svg_file %}
                <h4 style="margin: 10px 0;">Структура вещества: {{ substance_name }}</h4>
                <div style="display: flex; justify-content: center; overflow: auto; max-width: 100%; max-height: 500px;">
                    <object type="image/svg+xml" data="{{ url_for('static', filename=svg_file) }}" style="width: auto; height: 100%;">
                        Ваш браузер не поддерживает SVG
                    </object>
                </div>
            {% endif %}
        </form>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; overflow: auto; max-height: 400px; width: 100%;">
        {% if isomers_file %}
            <h4 style="margin: 10px 0;">Изомеры вещества: {{ substance_name }}</h4>
            <div style="display: flex; justify-content: center; overflow: auto; max-width: 100%; max-height: 400px;">
                <object type="image/svg+xml" data="{{ url_for('static', filename=isomers_file) }}" style="width: auto; height: 100%;">
                    Ваш браузер не поддерживает SVG
                </object>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}