{% extends 'base.html' %}

{% block title %}ChemistryPRO - Уравнивание хим.реакций{% endblock %}

{% block content %}
<body style="margin: 0; padding: 0;">
<div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
    <form method="post" style="text-align: center; font-size: 1.5em;">
        <h3>Просмотр структуры вещества</h3>
        <input type="text" name="substance_name" placeholder="Введите название вещества" required>
        <input type="submit" value="Получить SVG" style="height: 40px; font-size: 1em;">

        {% if svg_file %}
            <h4 style="margin: 10px 0;">Структура вещества: {{ substance_name }}</h4>
            <object type="image/svg+xml" data="{{ url_for('static', filename=svg_file) }}" width="500" height="500">
                Ваш браузер не поддерживает SVG
            </object>
        {% endif %}
    </form>
</div>

<div style="margin-top: -200px; overflow-y: auto; max-height: 400px; width: 100%;">
    {% if isomers_file %}
        <h4 style="margin: 10px 0;">Изомеры вещества: {{ substance_name }}</h4>
        <object type="image/svg+xml" data="{{ url_for('static', filename=isomers_file) }}" style="width: 100%; height: auto;">
            Ваш браузер не поддерживает SVG
        </object>
    {% endif %}
</div>
</body>
{% endblock %}