{% extends 'base.html' %}

{% block title %}ChemistryPRO - Профиль {{ user.username }}{% endblock %}

{% block content %}
<body>
    <div class="limiter">
        <div class="container-profile">
            <div class="wrap-profile p-t-50 p-b-90">
                <h1 class="profile-title">Профиль пользователя</h1>
                <div class="profile-info">
                    <p><strong>Логин:</strong> {{ user.username }}</p>
                    <p><strong>Фамилия:</strong> {{ user.surname }}</p>
                    <p><strong>Имя:</strong> {{ user.name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <!---<p><strong>Количество покупок:</strong> {{ user.pokupki }}</p>
                    <p><strong>Покупки на сумму:</strong> {{ user.summa }} руб.</p>-->
                </div>
                <br>
                <a class="nav-link logout-link" href="/logout">Выйти</a>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #f2f2f2;
        }
        .limiter {
            width: 100%;
            margin: 0 auto;
        }
        .container-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .wrap-profile {
            background: f2f2f2;
            border: 1px solid #ccc; /* Рамка вокруг профиля */
            border-radius: 10px; /* Округление углов рамки */
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
            padding: 40px;
            width: 400px;
        }
        .profile-title {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
        .profile-info {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
        }
        .logout-link {
            display: block;
            text-align: center;
            color: #007bff;
            font-weight: bold;
            text-decoration: none;
            margin-top: 20px;
        }
        .logout-link:hover {
            text-decoration: underline;
        }
        A {
        color: gray; /* Цвет ссылок */
        }
        A:visited {
        color: gray; /* Цвет посещенных ссылок */
        }
        A:active {
        color: gray; /* Цвет активных ссылок */
        }
#sidebar A {
        color: white; /* Цвет ссылок в боковой панели */
    }
        body {
    background-color: #ffffff; /* Цвет фона сайта */
}
    </style>
</body>
{% endblock %}