{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<!--<form action="/register" method="POST">
  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required><br><br>
  <label for="confirm_password">Подтвердите пароль:</label>
  <input type="password" id="confirm_password" name="confirm_password" required><br><br>
  <label for="name">Имя:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="surname">Фамилия:</label>
  <input type="text" id="surname" name="surname" required><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>
  <input type="submit" value="Зарегистрироваться">
</form>--!>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form" action="/register" method="POST">
                    <span class="login100-form-title p-b-51">
                        Регистрация
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Имя пользователя обязательно">
                        <input class="input100" type="text" id="username" name="username" placeholder="Имя пользователя" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Пароль обязателен">
                        <input class="input100" type="password" id="password" name="password" placeholder="Пароль" required>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Подтвердите пароль">
                        <input class="input100" type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите пароль" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Имя обязательно(можно псевдоним)">
                        <input class="input100" type="text" id="name" name="name" placeholder="Имя" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Фамилия обязательна(можно псевдоним)">
                        <input class="input100" type="text" id="surname" name="surname" placeholder="Фамилия" required>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Электронная обязательна">
                        <input class="input100" type="email" id="email" name="email" placeholder="Электронная почта" required>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Регистрация
                        </button>
                    </div>

                </form>
                <div class="text-center p-t-20">
                    <span>Если Вы уже зарегистрированы, </span>
                    <br>
                    <a href="/login" class="txt2">Войти</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #ffffff;
        }
        .limiter {
            width: 100%;
            margin: 0 auto;
        }
        .container-login100 {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .wrap-login100 {
            background: white;
            border: 1px solid #ccc; /* Рамка вокруг профиля */
            border-radius: 10px; /* Округление углов рамки */
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
            padding: 40px;
            width: 400px;
        }
        .login100-form-title {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
        .input100 {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            transition: border-color 0.3s;
        }
        .input100:focus {
            border-color: #007bff;
            outline: none;
        }
        .login100-form-btn {
            width: 100%;
            background-color: #007bff;
            border: none;
            color: white;
            padding: 15px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .login100-form-btn:hover {
            background-color: #0056b3;
        }
        .txt2 {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
        .txt2:hover {
            text-decoration: underline;
        }
        A {
        color: gray; /* Цвет ссылок */
        }
        A:visited {
        color: gray; /* Цвет посещенных ссылок */
        }
        A:active {
        color: gray; /* Цвет активных ссылок */
        }
#sidebar A {
        color: white; /* Цвет ссылок в боковой панели */
    }
    </style>
</body>
{% endblock %}