{% extends 'base.html' %}

{% block title %}ChemistryPRO - Таблица Кислот и Кислотных остатков{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
<h2 class="elementor-heading-title elementor-size-default">Таблица Кислот и Кислотных остатков</h2>
</div>
<p>Таблица кислот — это учебно-методическое пособие по химии, которое содержит названия, формулы и кислотные остатки некоторых кислот.</p>
<div class="row">
    <map name="clickable">
        <area shape="poly" coords="0, 0" title="" href="/">
	</map>
	<img usemap="#clickable" src="{{ url_for('static', filename='i.jpg') }}" class="img-fluid mx-auto d-block" style="max-width: 100%; height: auto;">
</div>
<img src="{{ url_for('static', filename='silikislot.png') }}" class="img-fluid mx-auto d-block" style="max-width: 100%; height: auto;">
{% endblock %}